<p>page2 works!</p>
<mat-icon>home</mat-icon>
<mat-icon fontSet="material-icons-outlined">home</mat-icon>
<mat-icon>looks_one</mat-icon>
<mat-icon fontSet="material-symbols-outlined">counter_1</mat-icon>
<mat-icon fontSet="material-symbols-outlined">favorite</mat-icon>
<mat-icon fontSet="material-symbols-outlined" color="primary">favorite</mat-icon>
<mat-icon fontSet="material-symbols-outlined" color="accent">favorite</mat-icon>
<mat-icon fontSet="material-symbols-outlined" color="warn">favorite</mat-icon>